* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteneur-flex{
    display: flex;
    flex-flow: column wrap;
    margin: -4px;
    background-color: #333;
    overflow: hidden;

}

.sous-conteneur-flex{
    flex: 1 1 auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    background-color: #333;
    margin: 0px 0px 20px 0px;
}

.element-flex{
    flex: 1 1 auto;
    background-color: #ddd;
    height: 40px;
    margin: 15px;
    text-align: center;
    font-size: 20px;
    color: rgb(62, 114, 255);
}

@media screen and (min-width: 780px) and (max-width: 979px){
    .conteneur-flex{
        flex-flow: row wrap;
    }
    .sous-conteneur-flex{
        margin: 0px 5px;
    }
}

@media screen and (min-width: 980px){
    .conteneur-flex{
        flex-flow: row wrap;
    }
    .sous-conteneur-flex{
        flex-flow: row wrap;
        margin: 0px 5px;
    }
}

body{
    background-color: #DCDDDE;
    }

img{
    width: 40px;
    float: left;
    margin-top: 14px;
}